@charset "UTF-8";

body {
    margin: 0;
}


#header {
    background-color: #ff8260;
    padding: 10px;
}



#header > h1 {
    color: black;
    font-family: fantasy;
    margin: 0;

}

#slideshow {
    list-style-type: none;
    pointer-events: none;
    position: relative;
}

#slideshow > li{
    opacity: 0;
    position: absolute;
}

#slideshow > li. current{
    opacity: 1;
    
}